/* Montserrat */
@font-face {
  font-family: 'Amatic';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Amatic/AmaticSC-Regular.ttf');
}

@font-face {
  font-family: 'Amatic';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Amatic/Amatic-Bold.ttf');
}
